*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  border: 100px solid white;
   min-width: 100px;
}
span{
    color: white;
   
}
.logo{
    font-family: monospace;
    background-color: rgba(0, 0, 0, 0.808);
    padding: 20px;
    display: flex;
    
   
}
.icone{ 
    max-width: 200px;
    max-height: 60px;
    display: flex;
    position: absolute;
    right: 10%;
    top: 18.5%;
   

}
.baner{
   background-image: linear-gradient(#000000,#00000088 ), url(./programacao.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    color: white;
    text-align: center;
    top: 40%;
    border: 1px solid orange;
    
}
.texto{
    background-color: rgba(199, 160, 42, 0.575);
    position: absolute;
    left: 7%;
    top: 60%;
    border-radius: 4px;
    
}
.novo{  
    color: white;
    background-image: linear-gradient(#000000,#00000088 );
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    
    left: 30%;
    top: 120%;
    
}
.title{
    text-align: center;
    font-family: monospace;
    font-size: 40px;
    position: absolute;
    top: 45%;
    left: 40%;
}
h1{
    font-family: monospace;
}
.imgdoadm{
    position: absolute;
    left: 38%;
    top: 65%;
  height:50%;
  border-radius: 300px;
  border: solid 5px black;
}

