*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
}
span{
    color: white;
   
}
.logo{
    
    background-color: rgba(75, 73, 73, 0.781);
    padding: 10px;
}
.baner{
   background-image: linear-gradient(#000000,#00000088 ), url(./programacao.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    color: white;
    text-align: center;
    top: 40%;
    
}